body {
    background-color: #222;
}

/***** HEADER *****/
#blogheader #blogtitle h1, #blogheader #blogtitle h1 a {
/*	text-decoration: none;*/
/*	font-size: 1.5em;*/
/*	font-weight: bold;*/
/*	margin: 0;*/
/*	padding: 0.1em 0;*/
/*	padding-top: 0.5em;*/
	color: #999;
}
#blogheader #mainlinks a {
	font-size: 1.2em;
	text-decoration: none;
	display: block;
	text-decoration: none;
	color: #564b47;
	padding: 0.2em 0.4em;
	margin: 0 0.1em;
}
#blogheader #mainlinks a:hover {
	text-shadow: #FFF 0 0 0.5em;
	color: white;
	background-color: #66CC00;
	box-shadow: 0em 0em 1em #66CC00, 1px 1px 5px #66CC00;
	border-radius: 0.5em;
}

/***** POSTINGS *****/
#blogbody .posting {
	display: inline;
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	float: left;
	margin: 1em;
}
#blogbody .posting .postbody {
	position: absolute;
	display: none;
	color: #AAA;
	text-indent: 0;
}
#blogbody .posting .postbody h1 {
	outline: #EEE 2px;
}
#blogbody .posting .postbody h1.imageoverlay {
    font-size: 1.5em;
}
#blogbody .posting:hover .postbody {
	display: block;
	z-index: 10;
}
#blogbody .posting .postbody a:hover {
	color: #999;
	text-shadow: #ff6666 0 0 0.3em;
}
#blogbody .posting .postbody .subject {
	color: #999;
	border-bottom: 0.1em solid #D0D0D0;
	font-weight: bold;
	margin: 0 1em;
}
#blogbody .posting .postbody .subject a {
	color: #999;
	text-decoration: none;
	font-size: 1em;
}
#blogbody .posting .postbody .subject a:hover {
	text-shadow: #AAA 0 0 0.3em;
}
#blogbody .posting .postbody .postdesc {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-indent: 1em;
	background: rgba(20, 20, 20, 0.7);
}


/***** FOOTER *****/
#blogfooter {
	color: #EEE;
	border-top: 0.2em solid #D0D0D0;
}
#blogfooter a {
	border-bottom: 1px dotted white;
	color: #cc0000;
}
#blogfooter a:hover {
	text-shadow: #ee6688 0px 0px 1px;
	color: #ff190D;
}
