body {
	background-color: #fff;
	background-image: url("http://openclipart.org/people/Chrisdesign/floral.svg");
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 20%;
	font-family: Lucida Grande, Verdana, Sans-serif;
	color: #4F5155;
	line-height: 2em;
	max-width: 40em;
	margin: 0 auto 1em auto;
	text-align: justify;
	height: 101%;
}

/***** HEADER *****/
#blogheader {
	padding: 0 1em;
	font-family: Palatino, "Times New Roman", serif;
	text-decoration: none;
	text-align: center;
}
#blogheader #blogtitle h1 {
	border-bottom: 0.17em solid #D0D0D0;
}
#blogheader #blogtitle div {
	height: 245px;
	overflow: hidden;
}
#blogheader #blogtitle h1, #blogheader #blogtitle h1 a {
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	padding: 0.1em 0;
	padding-top: 0.5em;
	color: #444;
}
#blogheader #mainlinks ul {
	padding-left: 0;
}
#blogheader #mainlinks li {
	display: inline-block;
}
#blogheader #mainlinks a {
	color: black;
	font-size: 1.2em;
	text-decoration: none;
	display: block;
	text-decoration: none;
	color: #564b47;
	padding: 0.2em 0.4em;
	margin: 0 0.1em;
}
#blogheader #mainlinks a:hover {
	text-shadow: #FFF 0 0 0.5em;
	color: white;
	background-color: #66CC00;
	box-shadow: 0em 0em 1em #66CC00, 1px 1px 5px #66CC00;
	border-radius: 0.5em;
}

/***** POSTINGS *****/
#blogbody .posting {
	padding: 1em;
}
#blogbody .posting .postheader .subject {
	color: #444;
	border-bottom: 0.1em solid #D0D0D0;
	font-weight: bold;
	margin: 0 1em;
}
#blogbody .posting .postheader .subject a {
	color: black;
	font: bold medium Palatino, "Times New Roman";
	text-decoration: none;
	font-size: 1.2em;
}
#blogbody .posting .postheader .subject a:hover {
	text-shadow: #AAA 0 0 0.3em;
}
#blogbody .posting .postheader .date {
	font: 0.7em "Georgia";
	float: right;
}
#blogbody .posting .postbody {
	padding: 1em;
	font-family: Palatino, "Times New Roman", serif;
}
#blogbody .posting .postbody h2 {
	font: 1.1em Palatino, "Times New Roman", serif;
	font-weight: bold;
	color: #888888;
	border-bottom: 0.2em dotted #888888;
}
#blogbody .posting .postbody h3, #blogbody .posting .postbody h4 {
	font: 1em Palatino, "Times New Roman", serif;
	font-weight: bold;
	color: #888888;
	padding-left: 2em;
}
#blogbody .posting .postbody a {
	text-decoration: none;
	color: #cc0000;
}
#blogbody .posting .postbody a:visited {
	color: #aa0000;
}
#blogbody .posting .postbody a:hover {
	color: #ff190d;
	text-shadow: #ff6666 0 0 0.3em;
}
#blogbody .posting .postbody p {
	line-height: 1.3em;
}
#blogbody .posting .postbody dl {
	padding-left: 16px;
}
#blogbody .posting .postbody dl dt {
	font-weight: bold;
	color: #444444;
	padding: 6px 92px 3px 0;
	padding-top: 9px;
}
#blogbody .posting .postbody ul {
	padding: 10px 0 10px 40px;
	list-style-type: disc;
}
#blogbody .posting .postbody li {
	padding: 0 0;
	margin: 0 0;
}
#blogbody .posting .postbody pre, #blogbody .posting .postbody code {
	font-family: Bitstream Vera Sans Mono, monospace;
}
#blogbody .posting .postbody blockquote {
	border-left: 3pt solid #aaaaaa;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 1em;
	font: italic small Verdana, Times, sans-serif;
	color: #222222;
}
#blogbody .posting .postbody blockquote em {
	font-weight: bold;
}
#blogbody .posting .postbody img {
	max-width: 700px;
	margin: 0em 20px;
	box-shadow: 0px 0px 4px black;
}
#blogbody .posting .postbody .amp {
	color: #666666;
	font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-style: italic;
}
#blogbody .posting .postbody .caps {
	font-size: 0.92em;
}
#blogbody .posting .postbody .highlight {
	border: 1px solid #cccccc;
	padding-left: 1em;
	margin-bottom: 10px;
	margin-top: 10px;
	background: none repeat scroll 0 0 #f0f0f0;
	overflow: auto;
}
#blogbody .posting .postfooter p {
	margin: 0;
	font-style: italic;
}
#blogbody .posting .postfooter a {
	color: #111111;
	font-family: Palatino, "times new roman", serif;
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
}
#blogbody .posting .postfooter a:hover {
	color: #111111;
	text-shadow: #aaaaaa 0px 0px 1px; }
	#blogbody .page {
	margin-top: -20px;
	font: bold medium Palatino, "Times New Roman", serif;
	color: black;
	text-decoration: none;
	border-bottom: 0.2em dotted black;
}
	#blogbody .page:hover {
	text-shadow: #aaaaaa 0px 0px 1px;
}

/***** FOOTER *****/
#blogfooter {
	margin-top: 2em;
	padding: 0.5em;
	text-align: center;
	font: medium Palatino, "Times New Roman", serif;
	border-top: 0.2em solid #D0D0D0;
}
#blogfooter a {
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted black;
	color: #cc0000;
}
#blogfooter a:hover {
	text-shadow: #ee6688 0px 0px 1px;
	color: #ff190d;
}

#disqus_thread {
	padding-top: 24px;
}

object[type="application/x-shockwave-flash"] {
	box-shadow: 0px 0px 12px #777777;
	margin-left: 15px;
	text-align: center;
}

.shadow {
	box-shadow: 0px 0px 4px black;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}
